body {
 
  background: #212121;
}

.chartWrapper{
  background: #303030 !important;
  color: white !important;
  padding: 15px !important;
  height: 100%;
  width: 100%;
  padding: 170px;
}

.trackingList{
  background: #265784 !important;
}

.section-header{
  background: #4059ce !important;
  border: none !important;
  margin-bottom: 15px !important;
  
}

.section-background{
  background: #424242 !important;
  color:white !important;
  border: none;
}


.full {
  height: 100%;
  width: 100%;
}

.whiteIcon{
  color:white
}

.main{
  background: blue;
  margin-left:auto;
  margin-right:auto;
}
.test{
  background:darkslategray;
  height: 700px;
}

.red-bg{
  background-color: red;
  
}

.blue-bg {
  background-color: blue ;
 
}

.right-algn{
  position: absolute;
  right:30px;
  top:30px;
}

.close-btn{
  position: absolute;
  right:10px;
  top:10px;
}